{{ form_start(form) }}
    {# {{ form_row(form.regions, {
        label: 'Régions'
    }) }} #}
    {{ form_row(form.ville, {
        label: 'Ville'
    }) }}
    

    <button type="submit" class="btn btn-success">Rechercher</button>
{{ form_end(form) }}