<form method="post" action="{{ path('app_gite_delete', {'id': gite.id}) }}" onsubmit="return confirm('Etes-vous surs de vouloir supprimer ce gite ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ gite.id) }}">
    <button class="btn btn-danger mt-2">Supprimer</button>
</form>
