<form method="post" action="{{ path('app_option_price_delete', {'id': option_price.id}) }}" onsubmit="return confirm('Etes-vous surs de vouloir supprimer cette option ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ option_price.id) }}">
    <button class="btn btn-danger mt-2">Supprimer</button>
</form>
