{% extends 'base.html.twig' %}

{% block title %}New OptionPrice{% endblock %}

{% block body %}
    <h1>Ajouter une option et son prix</h1>

    {{ include('option_price/_form.html.twig') }}

    <a href="{{ path('app_gite_index') }}" class="btn btn-primary mt-2">← Retour à vos logements</a>
{% endblock %}
